.title {
    text-align: center;
    padding-top: 90px;
}


/* css for the input text area and submit button */
.input-div {
    text-align: center;
    margin-top: 7%;

}

.list_input {
    height: 70px;
    width: 600px;
    border: 0.075cm solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    resize: none;
}

.list-button {
    width: 240px;
    height: 50px;
    margin-top: 40px;
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
    transition: transform 200ms ease-out;
}

.list-button:hover {
    transform: scale(1.05);
}


/* css for the bucket list componet */
.current-list {
    text-align: center;
    margin: 9% auto;
    padding-top: 1%;
    display: block;
    background-color: beige;
    width: 95%;
    border-radius: 20px;
}

.the-list {
    text-align: start; 
    margin: 7% auto; 
    display: inline-block; 
    width: 50%; 
    font-size: large;  
}

li {
    margin: 3% auto;
    align-items: center;
}

.true {
    text-decoration: line-through;
}

ul {
    list-style-type: none; 
    padding: 0px; 
    margin: 0; 
}

p {
    display: inline;
    padding-left: 12px;
}

.checkbox {
    margin-right: 10px;
    align-items: center;
}


/* style and formatting for the delete button */
.garbage-icon:hover {
    background-color: red;
}

.delete-button {
    display: inline;
    border: none;
    background: none;
    display: inline;
    position: relative;
    top: 5px;
}

.garbage-icon {
    max-width: 17px;
    height: auto;
}